@{
    ViewBag.Title = "About";
}

<style>
    h2 {
        color: aqua;
        background-color: aquamarine;
    }
</style>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<br />
<br />

<div id="main">
    Использование max-width вместо width в этой ситуации улучшит браузерную обработку в малых окнах. Это важно при создании сайта, который будет просматриваться на мобильном устройстве. Измените размер этой страницы, чтобы проверить как это работает!
    Радует и то, что max-width поддерживается всеми основными браузерами включая даже IE7 и старше, так что вы не должны бояться использовать это свойство.
</div>

<br />
<br />
<p>Use this area to provide additional information.</p>


